.search-input.MuiContainer-root {
    
    padding-top: 75px;
    text-align: left;
    color: #363636;
    line-height: 20px;
    
    .MuiTextField-root {
        width: 53%;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
        overflow: hidden;
    }

    .MuiTypography-h6 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
    }
    @media (max-width: 768px) {
        .MuiTextField-root {
            width: 80%;
        }
    }
    
}


